#shell-game-bunjs.service
[Unit]
Description=Start shell-game bun server

[Service]
WorkingDirectory=/home/bjorvika/shell-game
User=bjorvika
Group=bjorvika
Restart=always
ExecStart=/home/bjorvika/.bun/bin/bun run server.js

[Install]
WantedBy=multi-user.target
